<div class="container mt-3">
  <p style="color: green"><%= notice %></p>

  <h1>Gardens</h1>

  <div id="gardens" class="d-flex justify-content-between">
    <% @gardens.each do |garden| %>
      <div class="d-flex flex-column">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= garden.banner_url %>');">
          <div class="container">
            <h1 class="text-center px-3"><%= garden.name %></h1>
          </div>
        </div>
        <p>
          <%= link_to "Show this garden", garden %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "New garden", new_garden_path %>
</div>
